.number-display { /* Display */
    width: 32rem;
    background-color: black;
    margin: 12px;
    font-size: 54px;
    font-weight: bolder;
    border-radius: 8px;
}
.number-display input {
    width: 90%;
    background-color: black;
    font-size: 54px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
}
/* Organização do grid */
.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    border-radius: 28px;
}
.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    flex-direction: row;
} /* Todos os botões: Estilos Globais primeiro */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    width: 100%;
    height: 100%;
    background-color: #10101080;
    font-size: 36px;
    transition: transform 0.3s ease, border 0.2s ease
}
button:hover {
    border: solid 1px white;
}
button:active {
    transform: scale(0.9);
}
.button-outside {
    width: 6rem;
    height: 6rem;
    margin: 8px;
}
.number-del {
    margin: 8px;
}
.number-del button:hover {
    border: solid 1px red;
}
.number-del button:active {
    border: solid 1px red;
}
.number-times button:hover {
    border: solid 1px greenyellow;
}
.number-times button:active {
    border: solid 1px greenyellow;
}