#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Codigo adicionado manualmente depois */
.pg-content {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}
.header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  filter: invert(1);
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 12px;
}