#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Codigo adicionado manualmente depois */
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 5%;
}

.number-display {
  background-color: black;
  margin: 12px;
  font-size: 54px;
  font-weight: bolder;
  border-radius: 8px;
}

.row-1, .row-2, .row-3, .row-4 {
  display: flex;
  flex-direction: row;
}

button {
  padding: 32px;
  margin: 7px;
}